* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  font-family: 'Archivo', sans-serif;
}

.flex-box-left {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F3FFF2;
}

.flex-box-left img {
  width: 50%;
  height: 50%;
}

.flex-box-right {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login {
  display: flex;
  flex-direction: column;

  width: 55%;
  height: 70%;

  gap: 15px;

}

.login form {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.login input {
  padding: 10px;
  background-color: #E8E8E8;
}

.login form input::placeholder {
  color: #656769;
}

.login input[type="checkbox"] {
  appearance: none;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  margin-right: 0px;
}

.login form input[type="checkbox"]:checked {
  background-color: #656769;
}

.reset-password {
  display: flex;
  margin: 10px;
}

.reset-password p{
  margin-left: 10px;  
} 

.reset-password a {
  margin-left: 30px;
  text-decoration: none;
  color: #1E9E6A;
}

.button-enter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #1E9E6A;
}

.button-enter p {
  color: white;
}

.button-google {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  background-color: #191e1c;
}

.button-google a {
  text-decoration: none;
  color: antiquewhite;
  margin-left: 25px;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.signup a {
  text-decoration: none;
  color: #1E9E6A;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .flex-box-left {
    display: none;
  }
}

@media (max-width: 375px) {
  body {
    flex-direction: column;
  }

  .flex-box-left {
    display: none;
  }
}